body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #c2c2b9 }
  
    ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  ul.navbar a {
    text-decoration: none }

  ul.navbar img {
    width: 200px;
    height: 173px;   
    display: block;
    margin: 0 auto;
  }

  a:link {
    color: blue }
  a:visited {
    color: purple }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }

#btn_irRegistro {
    width: 100%;
    border: none;
    background:  #3bb44c;
    padding: 12px;
    color: white;
    margin: 100% 0;
    font-size: 16px;
    text-decoration: none;    
}

#btn_irRegistro a {
    color: white;
    text-decoration: none;
}

#landing_navbar {
    position: fixed;
    width: 230px;
    height: 100%;
    background: #d1cfc7;
}

#landing_navbar ul li {
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 0px solid rgba(100, 100, 100, .3);
}

    